@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
}
html {
	font-size: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
:focus {
	outline: 0;
}
a, a:link {
	text-decoration: none;
	outline: none;
}
figure {
	text-align: center;
}
p {
	padding: 2px 0;
	  color: #949494;
}
img {
	max-width: 100%;
	/*DONT MAKE HEIGHT:AUTO== IT CAUSING HAMPER TO OTHER PAGES*/
}
.clear {
	clear: both;
}
body {
	margin: 0 !important;
	padding: 0;
	font-family: 'SegoeUIRegular';
	color: #282828;
	margin: 0 0 0 0px;
	background-color: #f5f5f1;
}
.page-content >p {
	font-family: 'SegoeUIRegular';
	color: #282828;
}

header {
	background: url(../images/header_ppg.png) no-repeat center center #bffbd9;
	/*background: url(../images/header-bg.jpg) no-repeat center center #bffbd9;*/
	min-height: 82px;
	overflow: hidden;
	box-shadow: 0 1px 2px #CCC;
}
.container {
	width: 980px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin: 28px 0 0;
}
.search-bar {
	width: 345px;
	float: left;
	margin: 28px 0 0 70px;
}
.search-bar input[type=search] {
	font-family: 'segoe_uibold';
	color: #44484d;
	width: 290px;
	height: 27px;
	padding-left: 10px;
	border: none;
	float: left;
}
.lt {
	text-align: center;
}
.search-bar input[type=submit] {
	background: url(../images/search-btn.png) no-repeat;
	width: 38px;
	height: 28px;
	border: none;
	margin: 0 0 0 5px;
}
header ul {
	margin: 28px 0 0;
	float: right;
}
header ul li {
	font-family: 'SegoeUIRegular';
	font-size: 16px;
	color: #fff;
	display: inline-block;
	margin: 0 0 0 4px;
}
header ul li span {
	width: 26px;
	text-align: center;
	font-size: 14px;
	color: #353f4d;
	background: #fff;
	display: block;
}
header ul li:first-child {
	margin-right: 20px;
}
footer {
	padding-bottom: 40px;
	overflow: hidden;
	width: 100%;
	float: left;
}
footer ul {
	margin: 25px 0 0;
}
footer ul li {
	font-family: 'SegoeUIRegular';
	font-size: 12px;
	color: #353f4d;
	float: left;
}
footer ul li a {
	color: #353f4d;
	border-right: 1px solid #353f4d;
	float: left;
	padding: 0 10px;
}
footer ul li:last-child a {
	border: none;
}
.loginBox{padding:8px !important; }
.social {
	float: right;
	text-align: center;
}
.social a {
	display: inline-block;
	margin: 0 6px;
}
.page-content {
	background: #fff;
	border: 1px solid #ccccc8;
	padding: 0 25px 16px;
	font-family: 'segoe_uibold';
}
.txt {
	font-family: 'segoe_uibold';
	color: #282828;
}
.page-nav {
	margin-top: -27px;
	padding: 38px 0;
	/*overflow: hidden;*/
	text-transform: capitalize;
}
.page-nav li {
	font-family: 'SegoeUIRegular';
	color: #bffbd9;
	float: left;
}
.page-nav li a {
	font-family: 'SegoeUIRegular';
	/*color: #bffbd9;*/
	color:#282828;
	font-size: large;
}
.page-nav li:last-child {
	margin: 0 0 0 5px;
	  color: #282828;
}
h1.heading {
	font-family: 'segoe_uibold';
	color: #3c3b3b;
	font-size: 16px;
	text-transform: uppercase;
	margin: 15px 0 0;
}
.alpha-heading li {
	font-family: 'segoe_uibold';
	color: #3c3b3b;
	font-size: 16px;
	text-transform: uppercase;
	margin: 25px 0 0 10px;
	display: inline-block;
	border-right: 1px solid #ccccc8;
	padding-right: 14px;
}
.alpha-heading li a {
	color: #3c3b3b;
}
.alpha-heading li:first-child {
	color: #bffbd9;
	font-size: 26px;
	background: url(../images/dash.png) no-repeat top 20px right;
	padding: 0 30px 0 0;
	margin: 0;
	border: none;
}
.alpha-heading li:last-child {
	border: none;
}
.resp-vtabs {
	margin: 15px 0 0 !important;
}
.resp-tabs-list li {
	font-family: 'segoe_uibold';
	color: #3c3b3b;
	font-size: 12px;
	display: inline-block;
	padding: 10px 10px;
	border-top: 1px solid #ccccc8;
	margin: 0 8px;
	list-style: none;
	cursor: pointer;
	float: left;
}
.resp-tabs-list li:first-child {
	margin-right: 0;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 15px;
}
.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
}
.resp-tab-active {
	border-bottom: none;
	background-color: #fff;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border: 1px solid #c1c1c1;
}
h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
}
h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	max-width: 30%;
	width: 220px;
	background: #f5f5f5;
}
.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 14px 5px !important;
	cursor: pointer;
	float: none;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px 0 18px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	max-width: 77%;
	width: 705px;
	min-height: 250px;
	clear: none;
}
.resp-vtabs .resp-tab-content {
	border: none;
}
.resp-vtabs li.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-right: none;
	background-color: #fff;
	font-size: 13px;
	position: relative;
	color: #3c3b3b;
	margin: 0;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
}
.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #DBDBDB !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list {
	display: none;
}
h2.resp-accordion {
	display: block;
}
.resp-vtabs .resp-tab-content {
	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
}
.thum {
	float: left;
	margin: 35px 0 0 10px;
}
.content-right {
	width: 540px;
	float: right;
}
.content-right h2 {
	font-family: 'segoe_uibold';
	color: #bffbd9;
	font-size: 18px;
	border-bottom: 1px solid #ccccc8;
	margin: 12px 0 0;
	padding-bottom: 2px;
}
.content-right h2 span {
	font-family: 'segoe_uibold';
	color: #bffbd9;
	font-size: 14px;
	float: right;/*margin-top: -19px;*/

}
.content-right h2 span img {
	margin: 0 1px;
}
.content-right h3 {
}
.content-right h3 a {
	font-family: 'segoe_uibold';
	color: #3c3b3b;
	font-size: 13px;
	float: right;
	margin-top: -11px;
}
.content-right p {
	font-family: 'SegoeUIRegular';
	font-size: 13px;
	color: #3c3b3b;
	padding: 10px 0 0px;
	line-height: 22px;
}
.page-alpha {
	clear: both;
	border-top: 1px solid #ccccc8;
	border-bottom: 1px solid #ccccc8;
	overflow: hidden;
	padding: 10px 0;
}
.page-alpha li {
	font-family: 'segoe_uibold';
	color: #3c3b3b;
	font-size: 16px;
	text-transform: uppercase;
	background: url(../images/border.png) no-repeat right;
	float: left;
	margin: 0 0 0 4px;
	padding: 0 12px 0 0;
}
.page-alpha li a {
	font-family: 'segoe_uibold';
	color: #3c3b3b;
}
.page-alpha li:first-child {
	background: url(../images/dash.png) no-repeat right center;
	padding: 0 24px 0 0;
	margin: 0 8px 0 0;
}
.page-alpha li a:hover {
	color: #bffbd9;
}
.page-navi {
	border-top: 1px solid #ccccc8;
	border-bottom: 1px solid #ccccc8;
	overflow: hidden;
	padding: 10px 0;
}
.page-navi li {
	font-family: 'SegoeUIRegular';
	color: #3c3b3b;
	font-size: 16px;
	float: left;
	padding: 2px 0;
}
.page-navi li span {
	font-family: 'segoe_uibold';
}
.page-navi li a {
	font-family: 'segoe_uibold';
	color: #bffbd9;
	padding: 2px 15px;
	display: inline-block;
}
.page-navi li a:hover {
	background: #bffbd9;
	color: #fff;
}
.page-navi li:first-child {
	background: url(../images/dash.png) no-repeat top 14px right;
	padding: 2px 25px 2px 0;
	margin: 0 10px 0 0;
}
.content-left {
	width: 658px;
	float: left;
	margin: 20px 0 0;
}
.qus {
	font-family: 'SegoeUIRegular';
	color: #3c3b3b;
	font-size: 14px;
	background: url(../images/arrow-left.jpg) no-repeat top 5px left;
	padding: 0 0 0 10px;
}
.community-area h4 {
	font-family: 'SegoeUIRegular';
	color: #3c3b3b;
	font-size: 14px;
	padding: 9px 0 9px 15px;
	background: #f5f5f1;
	margin: 18px 0 0;
}
.community-area h3 {
	font-family: 'SegoeUIRegular';
	color: #3c3b3b;
	font-size: 18px;
	margin: 20px 0 0 14px;
}
.blog {
	border: 1px solid #ccccc8;
	overflow: hidden;
	margin: 20px 0 0;
	padding-bottom: 45px;
}
.thum1 {
	float: left;
	margin: 20px 0 0 15px;
	width: 85px;
}
.blog-right {
	width: 480px;
	float: left;
	margin: 10px 0 0 15px;
}
.content-left .blog-right h5 {
	font-family: 'SegoeUIRegular';
	color: #9b9a9a;
	font-size: 12px;
	margin: 10px 0 0;
}
.content-left .blog-right span {
	font-family: 'segoe_uibold';
	font-size: 14px;
	color: #bffbd9;
}
.content-left .blog-right i {
	float: right;
	margin-right: 30px;
}
.content-left .blog-right p {
	font-family: 'SegoeUIRegular';
	font-size: 14px;
	color: #3c3b3b;
	margin: 12px 0 0;
}
.content-left .blog-right h6 {
	margin: 10px 0 0;
}
.content-left .blog-right h6 a {
	font-family: 'SegoeUIRegular';
	float: left;
	font-size: 14px;
	color: #9b9a9a;
	background: url(../images/translate.png) no-repeat right center;
	padding: 0 35px 0 0;
}
.content-left h2 {
	font-family: 'segoe_uibold';
	color: #3c3b3b;
	font-size: 18px;
	margin: 20px 0 20px;
}
.content-left h2 span {
	font-family: 'SegoeUIRegular';
	color: #3c3b3b;
	font-size: 13px;
	background: #f5f5f1;
	display: inline-block;
	width: 28px;
	border-radius: 50%;
	border: 1px solid #ccccc8;
	text-align: center;
	padding: 4px 0;
	margin: 0 10px 0 0;
}
.side-bar-right {
	width: 240px;
	float: right;
}
.side-bar-right h2 {
	font-family: 'segoe_uibold';
	font-size: 14px;
	color: #3c3b3b;
	margin: 25px 0 0;
}
.side-bar-right ul {
}
.side-bar-right ul li {
	font-family: 'SegoeUIRegular';
	color: #9b9a9a;
	font-size: 12px;
	margin: 12px 0 0;
}
.side-bar-right ul li a {
	font-family: 'segoe_uibold';
	font-size: 15px;
	color: #bffbd9;
	display: block;
}
.side-bar-right h4 {
	margin: 62px 0 0;
}
.side-bar-right h4 a {
	font-family: 'segoe_uibold';
	font-size: 14px;
	color: #fff;
	background: #bffbd9;
	display: block;
	padding: 8px 20px;
	margin-bottom: 1px;
}
.forums-post {
}
.forums-post h3 {
	font-family: 'segoe_uibold';
	color: #3c3b3b;
	font-size: 20px;
}
.forums-post ul {
	margin-bottom: 18px;
}
.forums-post ul li {
	overflow: hidden;
	padding: 8px 0 9px;
	margin: 12px 0 0;
}
.forums-post ul li:hover {
	background: #f5f5f1;
	border-bottom: 1px solid #ccccc8;
	padding-bottom: 8px;
}
.forums-post ul li h4 {
	font-family: 'SegoeUIRegular';
	font-size: 16px;
	margin: 0 0 0 15px;
	float: left;
	width: 325px;
}
.forums-post ul li h4 a, .forums-post ul li h4 span a {
	color: #3c3b3b;
}
.forums-post ul li h4 span {
	font-size: 12px;
	display: inline-block;
	background: #fff;
	padding: 1px 10px;
	border-radius: 10px;
	margin: 0 15px 0 0;
}
.thum2 {
	float: left;
	margin: 0 0 0 15px;
	width: 62px;
}
.forums-post ul li h5 {
	font-family: 'SegoeUIRegular';
	font-size: 13px;
	margin: 10px 0 0 15px;
	float: right;
	color: #3c3b3b;
	width: 150px;
}
.forums-post ul li h5 span {
	font-family: 'SegoeUIRegular';
	color: #3c3b3b;
	font-size: 13px;
	background: #fff;
	display: inline-block;
	border-radius: 10px;
	border: 1px solid #ccccc8;
	text-align: center;
	padding: 4px 10px;
	margin: 0 15px 0 0;
}
.page-event {
	padding-bottom: 50px;
}
.page-event h1 {
	border-top: 1px solid #ccccc8;
	padding: 8px 0;
	padding-left: 15px;
}
.page-event h1 a.event-heading {
	font-family: 'segoe_uibold';
	text-transform: uppercase;
	color: #3c3b3b;
	font-size: 14px;
	margin: 0 30px 0 0;
}
.page-event h1 span {
	float: right;
}
.page-event h1 span a {
	font-family: 'SegoeUIRegular';
	font-size: 13px;
	color: #bffbd9;
	border: 1px solid #cacbcb;
	background: #fff;
	padding: 0 5px;
	margin: 2px 0 0 20px;
	display: inline-block;
}
.side-bar-left {
	width: 184px;
	float: left;
	border: 1px solid #ccccc8;
	margin: 8px 0 0;
}
.check-area {
	font-family: 'SegoeUIRegular';
	color: #353f4d;
	font-size: 13px;
	margin: 15px 6px 0;
	padding: 0 8px 16px;/*border-bottom: 1px solid #ccccc8;*/
}
.check-area input[type="checkbox"] {
	float: left;
	margin: 5px 8px 0 0;
}
.check-area label {
	display: block;
	margin: 3px 0 0;
	overflow: hidden;
	text-transform: capitalize;
}
.check-area span {
	display: inline-block;
}
.check-area.last {
	border: none;
	margin-bottom: 50px;
}
.side-bottom {
	font-family: 'SegoeUIRegular';
	color: #353f4d;
	font-size: 13px;
	margin: 15px 6px 0;
	padding: 0 8px 16px;
}
.check-area .select {
	border: 1px solid #ccccc8;
	height: 24px;
	font-family: 'SegoeUIRegular';
	color: #353f4d;
	font-size: 13px;
	width: 100%;
	padding: 0 0 0 5px;
	margin: 8px 0 0;
	background: url(../images/arrow-d.png) no-repeat right 8px center;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
}
.check-area .select option {
	padding-left: 5px;
}
.check-area input[type="reset"] {
	font-family: 'SegoeUIRegular';
	font-size: 13px;
	color: #57e2ca;
	border: 1px solid #cacbcb;
	background: #fff;
	padding: 1px 0;
	margin: 12px 0 0 0;
	width: 50px;
	text-align: center;
	cursor: pointer;
}
.check-area >h2 {
	font-family: 'segoe_uibold';
	font-size: 13px;
}
.check-area > ul {
	list-style-type: square;
	margin-left: 22px;
}
.check-area > ul> li {
	padding-top: 1px;
	padding-bottom: 1px;
}
.check-area > ul> li >a {
	color: #353f4d;
	font-family: 'SegoeUIRegular';
	margin-left: -2px;
}
#subcatty {
	list-style-type: circle;
	margin-left: 22px;
}
#subcatty> li >a {
	color: #353f4d;
	font-family: 'SegoeUIRegular';
	margin-left: -2px;
}
.check-area input[type="submit"] {
	font-family: 'SegoeUIRegular';
	font-size: 13px;
	color: #57e2ca;
	border: 1px solid #cacbcb;
	background: #fff;
	padding: 1px 0;
	margin: 12px 0 0 20px;
	width: 50px;
	text-align: center;
	float: right;
	cursor: pointer;
}
.event-right {
	width: 715px;
	float: right;
}
.list-g {
	width: 92px;
	border: 1px solid #ccccc8;
	float: left;
	margin: 8px 0 0;
}
.list-g a {
	font-family: 'SegoeUIRegular';
	font-size: 13px;
	color: #353f4d;
	padding: 3px 9px 3px;
	display: inline-block;
}
.list-g a:first-child {
	border-right: 1px solid #ccccc8;
	padding: 3px 9px 3px 8px;
}
.list-g a:hover, .list-g a.current {
	color: #57e2ca;
	background: #f2f2f2;
}
.pn-bt {
	width: 270px;
	border: 1px solid #ccccc8;
	float: left;
	margin: 8px 0 0 90px;
}
.pn-bt a {
	font-family: 'SegoeUIRegular';
	font-size: 13px;
	color: #353f4d;
	padding: 3px 11px 3px;
	display: inline-block;
	border-right: 1px solid #ccccc8;
}
.pn-bt a:hover, .pn-bt a:active {
	color: #bffbd9;
	background: #f2f2f2;
}
.pn-bt a:last-child {
	border: none;
	padding: 3px 10px 3px 11px;
}
.un-bt {
	width: 154px;
	border: 1px solid #ccccc8;
	float: right;
	margin: 8px 0 0;
}
.un-bt a {
	font-family: 'SegoeUIRegular';
	font-size: 13px;
	color: #353f4d;
	padding: 3px 13px 3px;
	display: inline-block;
	border-right: 1px solid #ccccc8;
}
.un-bt a:last-child {
	padding: 3px 14px 3px;
	border-right: none;
}
.un-bt a:hover, .un-bt a:active {
	color: #bffbd9;
	background: #f2f2f2;
}
.un-bt a.last {
	padding: 3px 10px 3px 11px;
}
.event-right .list-v {
	margin: 20px 0 0;
}
.event-right .list-v li {
	font-family: 'SegoeUIRegular';
	font-size: 11px;
	color: #353f4d;
	line-height: 28px;
}
.event-right .list-v li strong {
	font-family: 'segoe_uibold';
	font-size: 13px;
	padding: 0 4px;
}
.event-right .list-v li img {
	float: left;
	margin: 8px 8px 0 0;
}
.event-right .list-v li .aquamarine {
	font-family: 'segoe_uibold';
	color: #bffbd9;
}
.event-right .list-v li .orange {
	color: #ef7317;
	padding-right: 3px;
}
.event-right .gallery {
	margin: 10px 0 0;
}
.event-right .gallery li {
	float: left;
	width: 229px;
	border: 1px solid #ccccc8;
	margin: 17px 0 0 7px;
}
.event-right .gallery li.first {
/*margin-left: 0;*/
}
.event-right .gallery li h4 {
	font-family: 'SegoeUIRegular';
	color: #353f4d;
	font-size: 11px;
	margin: 0 5px;
	clear: both;
	overflow: auto;
	padding: 2px 0 18px;
}
.event-right .gallery li h4 strong {
	font-family: 'segoe_uibold';
	font-size: 13px;
	padding: 0 4px;
}
.event-right .gallery li h4 img {
	float: left;
	margin: 4px 8px 0 0;
}
.event-right .gallery li h4 .g-text {
	float: left;
	width: 197px;
}
#tab-2 {
	display: none;
}
.check-area span {
	padding: 10px 0 10px 20px;
	position: relative;
}
.check-area span:before {
	content: "";
	width: 11px;
	height: 3px;
	background: #adadad;
	position: absolute;
	left: -0;
	top: 19px;
}
.check-area p {
	font-family: "SegoeUIRegular";
	color: #353f4d;
	padding: 20px 0 0;
}
.check-area .input {
	width: 62px;
	height: 19px;
	border: 1px solid #ccccc8;
	padding-left: 8px;
	color: #a7a6a6;
	font-family: "SegoeUIRegular";
	font-size: 11px;
	margin: 4px 0 10px;
}
.check-area .input.last {
	float: right;
}
.check-area .select1 {
	border: 1px solid #ccccc8;
	height: 22px;
	font-family: 'SegoeUIRegular';
	color: #353f4d;
	font-size: 12px;
	width: 100%;
	padding: 0 0 0 5px;
	margin: 8px 0 0;
	background: url(../images/arrow-d.png) no-repeat right 8px center;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
}
.check-area .select1 option {
	padding-left: 5px;
}
.check-area sup {
	font-size: 8px;
}
.blank {
	border: 1px solid #dcdcdc;
	padding: 2px 3px;
	margin: 0 2px 0 0;
}
/*===== MANOJ =====*/

.alpha-listing-wrap {
	width: 100%;
}
.alpha-listing-wrap .alpha-header {
	color: #bffbd9;
	font-size: 40px;
	margin: 20px 0;
	padding: 10px 0;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ccccc8;
}
.alpha-listing-inner {
	border-bottom: 1px dotted #ccc;
}
.alpha-listing-name {
	float: left;
	width: 29%;
	padding: 10px 2%;
	font-weight: bold;
}
.alpha-listing-name a {
	color: #282828;
	font-weight: bold;
}
.alpha-listing-phn {
	float: left;
	width: 29%;
	padding: 10px 2%;
	font-weight: bold;
}
.alpha-listing-web {
	float: left;
	width: 29%;
	padding: 10px 2%;
	font-weight: bold;
}
.alpha-listing-web a {
	color: #282828;
	font-weight: bold;
}
/*===== SINGLE DESCRIPTION =====*/

.single-description-wrap {
	padding-top: 4px;
}
.single-description-block {
	border-top: 2px solid #ccccc8;
	padding: 10px 0;
}
/*.single-description-block:last-child{
	border-bottom: 2px solid #ccccc8;
}*/

.single-description-block-top {
}
.single-block-top-image {
	width: 14%;
	float: left;
	margin-right: 2%;
}
.single-block-top-imager {
	width: 26%;
	float: left;
	margin-right: 2%;
	margin-top: 20px;
}
#uploader {
	margin-left: 10px;
}
.single-block-top-imager img {
	/*width: 100%;
	height: auto;*/
	box-shadow: 0 2px 2px #555;
	border: 1px solid #282828;
	border-radius: 10px;
}
.single-block-top-image img {
	/*width: 100%;
	height: auto;*/
	box-shadow: 0 2px 2px #555;
	border: 1px solid #282828;
	border-radius: 10px;
}
.single-block-top-middle {
	width: 50%;
	float: left;
}
.single-block-top-middle-name {
	/*border-bottom: 1px solid #ccccc8;*/
	color: #bffbd9;
	font-family: "segoe_uibold";
	font-size: 18px;
	margin: 0 0 5px 0;
	padding-bottom: 2px;
}
.single-block-top-middle-star {
	color: #3c3b3b;
	font-family: "SegoeUIRegular";
	font-size: 13px;
	line-height: 22px;
}
.single-block-top-middle-star span {
	float: left;
}
.single-block-top-middle-star span:last-child {
	margin-right: 20px;
}
.single-block-top-middle-desig {
	color: #3c3b3b;
	display: inline-block;
	font-family: "segoe_uibold";
	font-size: 16px;
	margin: 10px 0 0;
	padding-right: 14px;
	text-transform: uppercase;
}
.single-block-top-right {
	width: 20%;
	float: right;
	color: #3c3b3b;
	font-family: "SegoeUIRegular";
	font-size: 13px;
	line-height: 22px;
	padding-top: 0px;
}
.single-block-top-right span {
	display: block;
	color: #bffbd9;
	display: inline-block;
	font-family: "segoe_uibold";
	font-size: 16px;
	margin: 2px 0 0;
	padding-right: 14px;
	text-transform: uppercase;
}
.single-description-block-bottom {
	margin-top: 20px;
}
.single-description-block-bottom-image {
	width: 15%;
	float: left;
	margin-right: 2%;
}
.single-description-block-bottom-image img {
	width: 100%;
	/*height: auto;*/
	box-shadow: 0 2px 2px #555;
	border: 1px solid #282828;
	border-radius: 10px;
}
.single-description-block-bottom-para {
	width: 75%;
	float: left;
	color: #3c3b3b;
	font-family: "SegoeUIRegular";
	font-size: 13px;
	line-height: 22px;
}
.clear {
	clear: both;
	display: block;
}
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
/* Landing Page */

.top-nav {
	width: 100%;
	float: left;
	/*background: url(../images/top-nav-bg.jpg) top left repeat-x;
	background: url(../images/menu_all.png) top left repeat-x;*/
	background-color: #282828;
	height: 31px;
	border-top: #c9c9c7 solid 1px;
	border-bottom: #c9c9c7 solid 1px;
}
.top-nav ul {
	width: 100%;
	float: left;
	overflow: hidden;
}
.top-nav ul li {
	float: left;
	display: inline-block;
	height: 31px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #282828;
	line-height: 31px;
	border-right: #63a498 solid 1px;
	display: block;
}
.top-nav ul li a {
	/*color:#282828;*/
	color: white;
	padding: 0 20px;
	height: 31px;
	display: block;
}
.top-nav ul li a:hover {
	color: #fff;
	background: #252726;
	height: 31px;
}
.landing-content {
	background: #fff;
	border: 1px solid #ccccc8;
	padding: 30px 25px 16px;
	width: 930px;
	float: left;
}
.landing-content-left {
	width: 98%;
	float: left;
	padding: 28px 0 0 21px;
}
.icondiv {
	width: 87%;
  float: left;
  margin-bottom: 30px;
  margin-left: 8%;
}
.icon-txt {
	width: 183px;
	float: right;
	padding-right: 48px;
	font-family: 'SegoeUIRegular';
	font-size: 16px;
	color: #737373;
}
.icon-txt h3 {
	font-family: 'seguisb';
	font-size: 18px;
	text-transform: uppercase;
	color: #282828;
	margin-bottom: 20px;
}
.icon-txt h3 a {
	color: #282828;
}
.icon-txt h3 a:hover {
	color: #95e7d9;
}
.icon-txt1 {
	width: 183px;
	float: right;
	font-family: 'SegoeUIRegular';
	font-size: 16px;
	color: #737373;
}
.icon-txt1 h3 {
	font-family: 'seguisb';
	font-size: 18px;
	text-transform: uppercase;
	color: #282828;
	margin-bottom: 20px;
}
.icon-txt1 h3 a {
	color: #282828;
}
.icon-txt1 h3 a:hover {
	color: #95e7d9;
}
.icon1 {
	width: 340px;
	float: left;
	height: 96px;
	/*background: url(../images/icon1.jpg) top left no-repeat;*/
	background: url(../images/icon4.jpg) top left no-repeat;
	display: block;
}
.icon1:hover {
	width: 340px;
	float: left;
	height: 96px;
	background: url(../images/icon4-hvr.jpg) top left no-repeat;
	/*background: url(../images/icon1-hvr.jpg) top left no-repeat;*/
	display: block;
}
.icon2 {
	width: 343px;
	float: right;
	height: 96px;
	background: url(../images/icon2.jpg) top left no-repeat;
	display: block;
}
.icon2:hover {
	width: 343px;
	float: right;
	height: 96px;
	background: url(../images/icon2-hvr.jpg) top left no-repeat;
	display: block;
}
.icon3 {
	width: 340px;
	float: left;
	height: 96px;
	background: url(../images/icon3.jpg) top left no-repeat;
	display: block;
}
.icon3:hover {
	width: 340px;
	float: left;
	height: 96px;
	background: url(../images/icon3-hvr.jpg) top left no-repeat;
	display: block;
}
.icon4 {
	width: 290px;
	float: left;
	height: 96px;
	/*background: url(../images/icon4.jpg) top left no-repeat;*/
	background: url(../images/icon1.jpg) top left no-repeat;
	display: block;
}
.icon4:hover {
	width: 290px;
	float: left;
	height: 96px;
	/*background: url(../images/icon4-hvr.jpg) top left no-repeat;*/
	background: url(../images/icon1-hvr.jpg) top left no-repeat;
	display: block;
}
.icon5 {
	width: 340px;
	float: right;
	height: 96px;
	background: url(../images/icon5.jpg) top left no-repeat;
	display: block;
}
.icon5:hover {
	width: 340px;
	float: right;
	height: 96px;
	background: url(../images/icon5-hvr.jpg) top left no-repeat;
	display: block;
}
.landing-content-right {
	width: 211px;
	float: right;
}
.centerdiv{
	margin-left: 35%;
}
/* Landing Page */


@font-face {
	font-family: 'SegoeUIRegular';
	src: url('../fonts/segoeui.eot');
	src: url('../fonts/segoeui.eot') format('embedded-opentype'),  url('../fonts/segoeui.woff') format('woff'),  url('../fonts/segoeui.ttf') format('truetype'),  url('../fonts/segoeui.svg#SegoeUIRegular') format('svg');
}
@font-face {
	font-family: 'segoe_uibold';
	src: url('../fonts/segoeuib-webfont.eot');
	src: url('../fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/segoeuib-webfont.woff') format('woff'),  url('../fonts/segoeuib-webfont.ttf') format('truetype'),  url('../fonts/segoeuib-webfont.svg#segoe_uibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'seguisb';
	src: url('../fonts/seguisb.eot');
	src: url('../fonts/seguisb.eot') format('embedded-opentype'),  url('../fonts/seguisb.woff2') format('woff2'),  url('../fonts/seguisb.woff') format('woff'),  url('../fonts/seguisb.ttf') format('truetype'),  url('../fonts/seguisb.svg#seguisb') format('svg');
}
.pickbutton {
	border: none;
	font-family: 'segoe_uibold';
	background-color: #bffbd9;
	color: white;
	padding: 6px 10px;
}
.clear {
	clear: both;
	display: block;
}
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
.city_select, .city_selectr {
	-webkit-appearance: none !important;
	font-family: 'segoe_uibold';
	color: #44484d;
	height: 27px;
	font-size: small;
	border: 1px solid #737373;
	margin-right: -20px;
	background-color: #bffbd9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.city_select {
	height: 29px;
}
.city_select option {
	padding-left: 5px;
	margin-top: 4px;
}
.p_msg {
	margin-top: -5px;
	margin-left: 15px;
}
body > section > div > ul > li:nth-child(7) > a {
	margin-top: 4px;
}
body > section > div > ul > li:nth-child(7) > a:hover {
	background: none;
}
/*===== MANOJ =====*/

.container {
	clear: both;
}
.m-description-wrap {
	clear: both;
	padding: 20px 20px 35px;
	background: #fff;
	border-left: 1px solid #ccccc8;
	border-right: 1px solid #ccccc8;
	border-bottom: 1px solid #ccccc8;
}
.m-description-wrap .m-description-top {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccccc8;
	font-family: 'SegoeUIRegular';
	font-size: 18px;
	/*color: #bffbd9;*/
	color: #282828;
}
.m-description-wrap .m-description-top span {
}
.m-description-wrap .m-description-top span a {
	/*color: #bffbd9;*/
	color: #282828;
}
.m-add-business {
	padding: 20px 0;
	border-bottom: 1px solid #ccccc8;
}
.m-add-business-left {
	width: 340px;
	float: left;
}
.m-add-business-left-image {
	width: 75px;
	float: left;
	margin-right: 20px;
}
.m-add-business-left-image img {
	width: 100%;
	border: 1px solid #7eead7;/*height: auto;*/
}
.m-add-business-left-text {
	font-family: 'SegoeUIRegular';
	color: #3c3b3b;
}

.m-add-business-left-text h3 {
	font-size: 22px;
	padding-bottom: 10px;
}
.m-add-business-left-text h4 {
	font-size: 13px;
}
.m-add-business-right {
	width: 215px;
	float: right;
	color: #7eead7;
	font-size: 15px;
	font-family: 'segoe_uibold';
	text-align: right;
	margin-top: 25px;
	margin-right: 20px;
}
.m-add-business-right a {
	color: #7eead7;
	background: url(../images/m-add-acc.png) no-repeat center left;
	padding: 10px 0px 10px 30px;
}
.m-carousel-wrap {
}
.m-carousel-inner {
	padding: 30px 0;
}
.m-carousel-image {
	width: 225px;
	float: left;
	margin-right: 10px;
}
.m-carousel-image:last-child {
	margin-right: 0;
}
.m-carousel-image img {
	width: 100%;/*height: auto;*/
}
.m-description-main-wrap {
}
.m-description-main-inner {
}
.m-description-main-left {
	width: 228px;
	float: left;
}
.m-description-main-left .m-description-main-left-con {
	padding: 0 15px;
	background: #fafaf8;
}
.m-description-main-left .m-description-main-left-con h3 {
	padding: 8px 0;
}
.m-description-main-left .m-description-main-left-con h3.m-text {
	color: #3c3b3b;
	font-size: 14px;
	font-family: 'segoe_uibold';
	border-bottom: 1px solid #ccccc8;
}
.m-description-main-left .m-description-main-left-con h3.m-phn {
	color: #7eead7;
	font-size: 22px;
	font-family: 'segoe_uibold';
	border-bottom: 1px solid #ccccc8;
	background: url(../images/m-phn.png) no-repeat center left;
	padding-left: 30px;
}
.m-description-main-left .m-description-main-left-con h3.m-mail {
	color: #bffbd9;
	font-size: 15px;
	font-family: 'segoe_uibold';
}
.m-description-main-left .m-description-main-left-con h3.m-mail a {
	background: url(../images/m-mail.png) no-repeat center left;
	padding-left: 30px;
}
.m-description-main-left .m-description-main-left-con h3 a {
	color: #bffbd9;
}
.m-description-main-right {
	width: 680px;
	float: right;
}
.m-description-main-right h2 {
	font-family: 'SegoeUIRegular';
	color: #3c3b3b;
	font-size: 22px;
}
.m-description-main-right h3 {
	font-family: 'segoe_uibold';
	color: #010101;
	font-size: 16px;
	padding: 20px 0;
}
.m-description-main-right h4 {
	font-family: 'segoe_uibold';
	color: #4b4a4a;
	font-size: 14px;
	padding-bottom: 10px;
}
.m-description-main-right ul {
}
.m-description-main-right ul li {
	font-family: 'SegoeUIRegular';
	color: #4b4a4a;
	font-size: 14px;
	padding: 5px 0 5px 25px;
}
.nav-btn {
	display: none;
}
.m-description-main-right p {
	font-family: 'SegoeUIRegular';
	color: #4b4a4a;
	font-size: 14px;
	padding: 10px 0;
}
.m-description-main-right-btn-wrap {
	text-align: right;
}
.m-description-main-right-btn {
	margin-top: 30px;
}
.m-description-main-right-btn a {
	padding: 10px 20px;
	font-family: 'segoe_uibold';
	color: #010101;
	font-size: 14px;
	border: 2px solid #7eead7;
}
.goto.goto-list{ margin-top:0;}
.post-left{ width:48%; float:left;}
.main-area-two .event-date{ float:left; width:80px; margin:0 5px 0 0;}
.post-left.right{float:right;}
.main-area-three input[type=checkbox]{margin:0 5px 0 0;}
.post-btn{ clear:both; padding:30px 0 0;}
 @media screen and (max-width:980px) {
.container {
	width: 98%;
	margin: 0 auto;
}
.landing-content {
	padding: 30px 2% 16px;
	width: 96%;
}
.search-bar {
	width: 40%;
	margin: 28px 0 0 8%;
}
.search-bar input[type="search"] {
	width: 80%;
	padding-left: 4%;
}
.top-area.right{float:right; width:48%;}
.fields [type="tel"], .fields [type="number"], .fields [type="date"], .fields [type="text"], .fields [type="password"], .fields [type="email"], .fields [type="url"], .fields textarea, .fields select, .fields .pseudo-input{ padding:5px 0 5px 2% !important;}
.body label{width:100%;}
.fields .top-area > label > [type="text"],.fields .top-area > label > select{ width:98% !important; text-overflow:ellipsis;}
.fields .top-area.right > label > [type="text"]{ width:100% !important;}
.fields .top-area > label > [type="tel"]{ width:98% !important;}
.fields .main-area-three > label > [type="text"],.fields .main-area-three > label > textarea{width:100% !important;}
.top-area-five > label > select,.top-area-five > label > select,.top-area-five > label > [type="text"],.top-area-five > label > [type="date"]{width:98% !important;}
.main-area-three .select-event{width:98%; padding:5px 0 5px 2%;}
.fields .main-area-two label{width:auto;}
.fields .main-area-two{margin-left:0; width:100%;}
#main-area{ position:relative !important; margin:0 0 25px 0 !important; display:inline-block;}
.single-block-top-right{width:30%;}
.single-block-top-middle{width:42%;}
}
@media screen and (max-width:979px) {
.top-nav ul li.account {
	margin-left: 5% !important;
}
.page-content {
	padding: 0 2% 16px;
}
.event-right {
	width: 74%;
}
.side-bar-left {
	width: 24%;
}
.create_post {
	margin-left: 0 !important;
}
.create_post {
	margin-left: 0;
	right: 6%;
}
.page-content .city-listing {
	padding: 20px 1.5%;
	width: 22%;
}
.main-area-two label{}
.posting .post_content{ padding:5px 0.6%;}
.m-description-main-left{float:none; width:100%;}
.m-description-main-right{ width:100%; float:none; margin:25px 0 0;}
.m-description-wrap{padding:20px 10px 35px;}
.meta_data{float:right !important;}
.big_image{width:58% !important;}

}
 @media screen and (max-width:850px) {
.search-bar {
	margin: 28px 0 0 5%;
	width: 36%;
}
.city-listing li a {
	font-size: 14px;
}
.content-left{width:100% !important;}
.loginBox p{width:300px; margin:10px auto 0 !important;}
.loginBox p label{width:70px !important;}
.loginBox p input{width:222px !important;}
.yform .yformer{padding:0 2%;}
.blogright .userprofile{ width:94%; padding:10px 3%;}
.blog .blogright{width:100%;}
.page-content .alert{ width:100%; margin:0 0 15px 0;}
}
 @media screen and (max-width:767px) {
	 .icon2 {
	width: 85%;
	float: right;
	height: 96px;
	background: url(../images/icon2.jpg) top left no-repeat;
	display: block;
}
.icon2:hover {
	width: 85%;
	float: right;
	height: 96px;
	background: url(../images/icon2-hvr.jpg) top left no-repeat;
	display: block;
}
.search-bar {
	width: 300px;
	margin: 28px 0 0;
	float: right;
}
header ul {
	margin: 14px 2px 10px 0;
}
.landing-content-left {
	width: 98%;
	padding: 28px 0 0;
	float: none;
	margin: 0 auto;
}
.pn-bt {
	margin-left: 0;
	float: right;
}
.event-right {
	width: 70%;
}
.side-bar-left {
	width: 28%;
}
.page-content .city-listing {
	width: 46%;
}



.icondiv {
	text-align: center;
}
.icon1, .icon1:hover, .icon2, .icon2:hover, .icon3, .icon3:hover, .icon4, .icon4:hover, .icon5, .icon5:hover {
	display: inline-block;
	float: none;
}
.icon-txt {
	padding-right: 0;
}
.top-nav ul li a {
	padding: 0 10px;
}
.top-nav ul li.account {
	margin-left: 2% !important;
}
.m-add-business-left{width:320px;}
.city_select, .city_selectr{padding-left:5px;}
.city_select, .city_selectr option{padding-left:5px;}
}

 @media screen and (max-width:640px) {
.post-left{width:100%;}
	 
 }

@media screen and (max-width:599px) {
.icon1, .icon1:hover, .icon3, .icon3:hover, .icon5, .icon5:hover {
	width: 282px;
}
.logo {
	float: none;
	text-align: center;
}
.search-bar {
	float: none;
	margin: 15px auto 0;
	width: 300px;
}
header ul {
	float: none;
	text-align: center;
}
footer ul {
	text-align: center;
}
footer ul li {
	float: none;
	vertical-align: middle;
	display: inline-block;
}
.social {
	float: none;
	text-align: center;
	margin: 15px 0 0;
}
.page-content .business-listing {
	width: 50%;
}
.business-listing li a {
	font-size: 14px;
}
.event-right {
	width: 100%;
}
.side-bar-left {
	width: 100%;
}
.check-area.last {
	margin-bottom: 10px;
}
.top-nav ul li {
	float: none;
}
.top-nav ul {
	position: absolute;
	background: #bffbd9;
	width: 98%;
	top: 31px;
}
.top-nav {
	position: relative;
}
.top-nav ul{display:none; z-index:1;}
.top-nav ul li.account {
	margin-left: 0 !important;
}
.nav-btn {
	display: block;
	width: 25px;
	position: relative;
	cursor: pointer;
	height: 18px;
	border-top:2px solid #fff;
	top:10px;
	left:8px;
}
.nav-btn:before {
	content: "";
	position: absolute;
	height: 2px;
	background: #fff;
	width: 100%;
	top: 4px;
}
.nav-btn:after {
	content: "";
	position: absolute;
	height: 2px;
	background: #fff;
	width: 100%;
	top: 10px;
}
.top-area-five{width:100% !important;}
.top-area-five > label > select, .top-area-five > label > select, .top-area-five > label > [type="text"], .top-area-five > label > [type="date"]{width:100% !important;}
.content-left .forums-post ul li h4{width:100%;}
.content-left .forums-post ul li h5{width:100%; }
.page-content .page-nav{width:100%;}
.single-block-top-right{width:100%;}
.single-block-top-middle{width:100%;}
.page-content .add_b{float:none; width:100%; clear:both; text-align:left; padding:6px 0;}
.m-add-business-left{width:300px;}
.m-add-business-left-image{width:60px;}
.m-description-main-right h2{ font-size:18px !important;}
.slick-next{margin-top:0 !important;}
.yform{ padding:20px 1% !important;}
.single-block-top-imager{width:100%; padding:0; text-align:center;}
.edit_post_btn, .delete_post_btn,.publish{margin-top:5px !important;}
.city-listing li a {
	font-size: 12px;
}
.loginBox p{width:283px; margin:10px auto 0 !important;}
.loginBox p label{width:70px !important;}
.loginBox p input{width:205px !important;}
.addinformation, .userdetails ul{width:96% !important; padding:15px 2% !important;}
.inform{width:150px !important;}
.addinformation li, .userdetails li{font-size:15px !important;}
.page-content .customBtn{ margin-bottom:10px;}
footer ul li a{ padding:0 6px !important;}
	.centerdiv{
	margin-left:0%;
}
	.icondiv {
	width: 100%;
  float: left;
  margin-bottom: 30px;
  margin-left: 0%;
}
}
@media screen and (max-width:360px) {
	.icondiv {
	width: 100%;
  float: left;
  margin-bottom: 30px;
  margin-left: 0%;
}
	.centerdiv{
	margin-left:0%;
}
.icon2 {
	width: 93%;
	float: right;
	height: 96px;
	background: url(../images/icon2.jpg) top left no-repeat;
	display: block;
}
.icon2:hover {
	width: 93%;
	float: right;
	height: 96px;
	background: url(../images/icon2-hvr.jpg) top left no-repeat;
	display: block;
}
.pn-bt {
	float: left;
}
.page-content .ban{background: -moz-linear-gradient(90deg, #d1f9f1 0%, #72e7d4 100%);
background: -webkit-gradient(linear, 90deg, color-stop(0%, #d1f9f1), color-stop(100%, #72e7d4));
background: -webkit-linear-gradient(90deg, #d1f9f1 0%, #72e7d4 100%);
background: -o-linear-gradient(90deg, #d1f9f1 0%, #72e7d4 100%);
background: -ms-linear-gradient(90deg, #d1f9f1 0%, #72e7d4 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1f9f1', endColorstr='#72e7d4', GradientType='0');
background: linear-gradient(0deg, #d1f9f1 0%, #72e7d4 100%);}
.event-right {
	margin: 15px 0 0;
}
.page-content .city-listing {
	min-height: 420px;
	padding-bottom:0;
}
.post-btn a .edit_post_btn{margin-bottom:15px;}
.page-content .goto{float:none; margin:0;}
.m-add-business-right{text-align:center;}
.loginBox p input{width:200px !important; float:right;}
body .ui-tabs .ui-tabs-nav .ui-tabs-anchor{font-size:10px !important; padding:0.5em 5px !important;}
.ui-widget-content p{font-size:12px;}

}
